.orbital-body-select {
    width: 200px;
}

.orbital-body-select-container {
    margin: 10px 0 10px 10px;
}

.view-mode-select {
    margin-left: 10px;
}

.neo-data-container {
    margin-left: 10px;
}
